{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "@typescript-eslint/consistent-type-imports": ["error"]
  },
  "ignorePatterns": ["dist", "node_modules"]
}
