{
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "singleQuote": false,
  "semi": false,
  "useTabs": false,
  "proseWrap": "always",
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]",
    "^[../]",
    "",
    "<TYPES>^[./]",
    "<TYPES>^react",
    "<TYPES>^@/",
    "<TYPES>"
  ],
  "importOrderSeparation": false,
  "importOrderMergeDuplicateImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
